*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

header p, h1 {
    margin-top: 10px;
}

main {
    padding: 0 20px;
    background-color:floralwhite;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.bola {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.quadrado {
    height: 80px;
    width: 80px;
}

#item1 {
    background-color: blueviolet;
}

#item1:hover {
    animation: paraDireita 2s;
}

#item2 {
    background-color: coral;
}

#item2:hover {
    animation: cresceDistorce 2s;
}

#item3 {
    background-color: greenyellow;
}

#item3:hover {
    animation: rodaGira 3s;
}

@keyframes paraDireita {
    from {opacity: 0; transform: translateX(0);}
    to {opacity: 1; transform: translateX(500%);}
}

@keyframes cresceDistorce {
    0% {transform: scale(100%)}
    50% {transform: scale(150%)}
    75% {transform: scale(100%) skew(45deg)}
    100% {transform: skew(0);}
}

@keyframes rodaGira {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(90deg)}
}
